* {
    font-family: 'Reem Kufi', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
  background-image: url(bg_2.jpg);
  background-size: contain;
  background: grey;
  
}
.container{
  
}
.card{
  background: white;
  margin: 120px 50px 50px 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 9px 2px #DDD;
}
.card .cardImage{
  padding-top: 50px;
}
.cardImage img{
  width: 200px;
  height: 200px;
  border: 7px solid #76FF03;
  border-radius: 50%;
}
.cardText{
  margin-top: 30px;
}
.cardText h4{
  font-size: 25px;
  opacity: 0.7;
}
.cardText p{
  font-size: 20px;
  opacity: 0.7;
}
.cardText button{
  margin: 40px 0px;
  padding: 10px;
  font-size: 18px;
  border: 10px solid #76FF03;
  background: #76FF03;
  color: blue;
}


/*conntainer2*/
.cardImage2 img{
  width: 200px;
  height: 200px;
  padding-top: 50px;
  border-radius: 10px;

}
h1{
  color: white;
  font-size: 25px;
  padding-top: 2px;
  border-bottom: 10px solid
  #76FF03;
  background-color:#651FFF;
}
.cardText2 h4{
  color: blue;
  font-size: 27px;
}
.cardText2 p{
  font-size: 20px;
  color: red;
}
a{
  text-decoration: none;
}
footer {
  text-align: center;
  font-size: 16px;
  padding: 3px;
  background-color: #651FFF;
  color: white;
}